DB_USER
DB_PASSWORD
DB_HOST
DB_NAME
DB_PORT
MAIL_USERNAME
MAIL_PASSWORD
MAIL_HOST
MAIL_FROM
MAIL_PORT
MAIL_STARTTLS
MAIL_SSL_TLS
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET
GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET
JWT_SECRET=
FRONTEND_URL=http://localhost:3000
YOUR_RANDOM_SECRET=izone-project-management